
main{
	dispaly:flex;
	width:75%;
	margin:0 auto;
}
.header_menu{
	
}
.header_list{
	display:flex;
	
	
	
}
.header_list li{
	list-style:none;
	margin:0px 0px 0px 20px;
}
.header_link{
color:#fff;
text-transform:uppercase;
font-size:18px;
text-decoration:none;
	
}
.header_burger{
	display:none;
}
@media(max-width:767px){
	.header_burger{
		dispay:block;
		position:relative;
		width:30px;
		height:20px;
		
		
		
	}
	.header_burger span {
		position: absolute;
		background-color:#fff;
		position:absolute;
		left:0;
		width:100%;
		height:2px;
		top:9px;
	}
	.header_burger:before,
	.header_burger:after{
		content:''  ;
		background-color:#fff;
		position:absolute;
		width:100%;
		height:2px;
		left:0;
	}
	.header_burger:before{
		top:0;
	}
	.header_burger:after{
		bottom:0;
	}
	.header_menu{
		position:fixed;
		top:0;
		left:50px;
		width:100%;
		height:100%;
	}
}
.header_list{
	display:flex;
}
:root{
	
	box-sizing:border-box;
	
	font-size:calc(1vw+0.7em);
	
	
}
a:link{
	color:#1476bb;
	font-weight:bold;
	text-decoration:none;
}
a:visited{
	color:#1414bb;
}
#image{
	width:100px;
	height:100px;
	
	
	
}
#naz{
	margin:0 5px 0 0;
    padding:0;
	
	
}
#head{
	width:200px;
	padding-bottom:10px;
	
}

#content{
text-align:center;
	
	
	
}
li{ 
list-style-type: none;
}

footer{
	text-align:left;
	
	
	
}

body{

	margin:0;
	font-family:Helvetica,Arial,sans-serif;
}

#t1{
	color:green;
	
	
}
#t2{
color:red;}

#t3{
	color:blue;
}

#t4{
	color:brown;
	
}
#t5{
	color:purple;
}



@media screen and(max-width:500px){
content{
	width:40%;
	display:inline-block;
	margin-left:0px;
	padding-left:0px;
}
	
	
}
main(
flex-direction:column;


}
